{% extends "./base.html" %}
{% block title %}
    Inicio
{% endblock %}

{% block body %}
<center>
    <article>
                <p class="animate__animated animate__pulse animate__infinite"
                    style="font-family: 'Comic Sans MS', sans-serif; font-size: 50px; ">SITU</p><br>
                {% load static %}
                <img src="{% static 'logo.png' %}" alt="No se encontro imagen no encontrada" width="350" height="220"><br><br>
                <h1>Bienvenido al sistema de SITU</h1>
                <h4>Desarrollo de Software en Ambientes Cloud</h4>
                </p>
            </article>    
    </center>
    <div class="container">
        <h4>Nombre: Byron Giovanny Cholca</h4>
        <h4>Docente: Ing. Roberth Figueroa</h4>
    </div>   
{% endblock body %}